.separator:nth-child(8n){
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  margin-bottom: 150px;
}

.separator:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
  border: 0;
}

.btn-left {
  text-align: left;
}

.btn-block ~ .btn-block {
  margin-top: 10px;
}
