<!doctype html>
<html ng-app="app">

<head>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="js/angular.min.js" charset="utf-8"></script>
  <script src="js/main.js" charset="utf-8"></script>
</head>

<body ng-controller="MainCtrl">
  <div class="container">
    <div class="row text-center" ng-if="result">
      <div class="alert alert-info">
        <small>Your personality type is:</small>
        <h1>{{result.type}}</h1>
        <ul class="list-inline">
          <li ng-repeat="trait in result.traits">
            {{trait.typeName}} ({{trait.percentage}}%)
          </li>
        </ul>
        <div class="text-center">
          <a href="https://www.personalitypage.com/{{result.type}}.html">Description</a>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: 50px;">
      <div class="col-md-12">
        <h1>Discover your personality type</h1>
        <p class="lead">Below is an MBTI (Myers Briggs Test Indicator) that gives a benchmark of what your personality is. <br> Since it is a personality-based test, there is no right or wrong answer.</p>
        <p>It consists of 88 questions. It may look tedious but it's needed in order to get a better assessment of how your brain works.</p>

      </div>
    </div>
    <div class="row">
      <div class="col-md-6 --col-md-offset-3">
        <div ng-repeat="question in questions" class="separator">
          <h3 style="margin-bottom:15px;">{{question.title}}</h3>
          <a href="#" ng-repeat="selection in question.selections" class="btn btn-block btn-left" ng-disabled="question.selected === selection" ng-click="answer(selection, question, $event)" ng-class="question.selected === selection ?
          'btn-success' : 'btn-default'">
          {{selection.label}}
          </a>
        </div>
      </div>
    </div>
    <div class="row text-center" style="margin-bottom: 350px;">
      <a class="btn btn-success btn-disabled btn-lg" disabled="disabled" ng-click="submit($event)" ng-if="!isValid">Complete the test</a>
      <a class="btn btn-success btn-lg" ng-click="submit($event)" ng-if="isValid">Submit</a>
    </div>
  </div>
</body>

</html>
